.container {
  margin: 20px 0;
}

.price {
  color: black;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 5px;
}

.discountMessage {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

/* shelf style */
.containerShelf {
  max-width: 1280px;
  margin: 0 auto;
}

.shelfItem {
  margin: 0 5px;
}

.shelfTitle {
  width: auto;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}

.shelfLink {
  text-decoration: inherit;
}

.shelfImage {
  position: relative;
  background-color: #f7f7f7;
}

.shelfProductName {
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: 16px;
  letter-spacing: 0.35px;
  font-size: 14px;
  font-weight: 300;
  text-shadow: rgba(0,0,0,0.2) 0 0 1px;
  color: #000;
  line-height: inherit;
  margin-right: 10px;
}

.shelfPrice {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.shelfSellingPrice {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-right: 0.5rem;
  text-decoration: line-through;
}

.shelfBestPrice {
  margin-top: 2px;
  font-weight: 800;
  color: #000;
  font-size: 16px;
  line-height: 18px;
}

.shelfButtonAddToCart {
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  max-width: 50%;
  margin: 0 auto;
  cursor: pointer;
}
